# VK
VK_TOKEN=
# если нужно слушать несколько диалогов (VK_PEER_ID оставить пустым или убрать):
VK_PEER_IDS=

# VK_PEER_ID=

# Telegram
TG_TOKEN=

SUBSCRIBERS_FILE=subscribers.json

# настройки
VK_FORWARD_OUTBOX=true
DEBUG=true
